<div *ngIf="todo" class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ todo.name }}</h5>
  </div>
  <div class="modal-body">
    <p><strong>Description:</strong> {{ todo.description }}</p>
    <p><strong>Created At:</strong> {{ todo.creation_date | date }}</p>
    <p><strong>End Date:</strong> {{ todo.end_date | date }}</p>
    <p><strong>Status:</strong>
      <button
        (click)="updateTodoStatus()"
        class="btn"
        [ngClass]="{'text-success': todo.done, 'text-danger': !todo.done}">
        <fa-icon [icon]="faCheck"></fa-icon> {{ todo.done ? 'Done' : 'Not Done' }}
      </button></p>
  </div>
  <div class="modal-footer">

  </div>
</div>
